# DEV ONLY
    # Disable docker's watch menu. This can fix a terminal becoming unresponsive
    COMPOSE_MENU=0

    # Change prefix to allow for multiple instances of Lumium to run on your host
    SERVICE_PREFIX=sw_

    #UID and GID for your user/group on your machine
    UID=1002
    GID=1002

# POSTGRES / REDIS (Dragonfly) / CLICKHOUSE
    POSTGRES_PASSWORD=swearjar
    POSTGRES_USER=swearjarbot
    POSTGRES_DB=swearjar
    POSTGRES_PORT=5432

    SERVICE_PGSQL_DBURL_LOCAL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${SERVICE_PREFIX}pgsql/${POSTGRES_DB}
    SERVICE_PGSQL_DBURL_API=postgres://sw_api:sw_api@${SERVICE_PREFIX}pgsql/${POSTGRES_DB}
    SERVICE_PGSQL_DBURL_HM=postgres://sw_hallmonitor:sw_hallmonitor@${SERVICE_PREFIX}pgsql/${POSTGRES_DB}


    # What database your backend is connected to. Change the value string from ${SERVICE_PGSQL_DBURL_LOCAL} to ${SERVICE_PGSQL_DBURL_PROD} for instance to connect to production
    SERVICE_PGSQL_DBURL=${SERVICE_PGSQL_DBURL_LOCAL}

    CLICKHOUSE_HOST=${SERVICE_PREFIX}clickhouse
    CLICKHOUSE_DB=default
    CLICKHOUSE_USER=${POSTGRES_USER}
    CLICKHOUSE_PASSWORD=${POSTGRES_PASSWORD}

    # What database your backend is connected to. Change the value string from ${SERVICE_CLICKHOUSE_URL_LOCAL} to ${SERVICE_CLICKHOUSE_URL_TESTING} for instance to connect to testing
    SERVICE_CLICKHOUSE_URL_LOCAL=http://${CLICKHOUSE_USER}:${CLICKHOUSE_USER}@${SERVICE_PREFIX}clickhouse:8123/${CLICKHOUSE_DB}

    SERVICE_CLICKHOUSE_DBURL=${SERVICE_CLICKHOUSE_URL_LOCAL}

# HTTP/TCP SETUP for digital properties within the Swearjar ecosystem
    CORE_API_HOST=${SERVICE_PREFIX}api
    CORE_API_PORT=4000
    CORE_API_DOMAIN=api.swearjar.test

# SERVICES
    SERVICE_PORT_ADMINER=5300
